<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>369474651243-ki1pi1as9lc24asaflr5jphrjgtkbspo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.369474651243-ki1pi1as9lc24asaflr5jphrjgtkbspo</string>
	<key>API_KEY</key>
	<string>AIzaSyDjLYkYU7uKhVKukIYvLT9G0iR8g0k8pt8</string>
	<key>GCM_SENDER_ID</key>
	<string>369474651243</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.spicychair.ReadingAppSwift</string>
	<key>PROJECT_ID</key>
	<string>readingappswift</string>
	<key>STORAGE_BUCKET</key>
	<string>readingappswift.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:369474651243:ios:cce9542de8f3d9872add2e</string>
</dict>
</plist>